<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>hello {{.Name}}</h1>

<p>条件</p>
{{if le .Age 18}}
    滚去学习
{{else}}
    你懂的
{{end}}

<p>定义变量</p>
{{$a:=18}}
{{$a}}
<p>循环</p>
{{range $idx,$value:=.Hobbylist}}
    <p>{{$idx}}-{{$value}}</p>
{{end}}
</body>
</html>